.container-contato{
    background-color: var(--bg-card);
    display: flex;
    flex-direction: column;
}


.titulo-contato{
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}


.titulo-contato h3{
    font-size: 20px;
    line-height: 10px;
    color:var(--verdeClaro);
}


.contato-box{  
    display: flex;
    padding:20px;
    justify-content: space-evenly;
}


.texto-contato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}


.texto-contato p{
    margin: 0 20px;
}

.contato-social-media{
    margin: 20px;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 20px;
}


.social-media i{
    font-size: 25px;
    transition: .5s;
    color: var(--font-color);
}

.social-media i:hover{
    color: var(--verdeClaro);
}




.contato-box form{
    display:flex;
    flex-direction: column;
    padding: 20px 30px;
    background:#181818 ;
    border-radius: 20px;
    height: 390px;
}


form label{
    font-size: 16px;
    align-items: flex-start;
}


form .input{
    height: 150px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--font-color);
    text-indent: 10px;
}

form .input:focus{
    outline:1px solid var(--verdeClaro) ;
}

form .input::placeholder{
    font-size:14px;
    font-weight: 500;
}

form textarea{
    outline:none;
    font-size: 16px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.btn{
    margin:40px auto 30px ;
    height: 120px;
    width:200px;
    font-weight: 700;
    font-size: 14px;
    color: var(--font-color);
    outline: none;
    border: 1px solid var(--font-color);
    text-transform: uppercase;
    border-radius: 10px;
    cursor:pointer;
    background: transparent;
    transition: .5s;
}

.btn:hover{
    background-color: var(--font-color);
    color: var(--bg-card);
}

@media(max-width: 768px){

    .container-contato{
        display:flex;
        flex-direction:column;
        margin-top: 100px;
    }

    .contato-box{
        flex-direction: column;
        align-items: center;
    }

    .texto-contato{
        text-align: center;
        margin:10px 0;
    }

    .contato-social-media{
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    
    .contato-box form{
        height:415px;
    }

    form .input{
        height: 100px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--font-color);
    }

    form textarea{
        font-size:14px;
    }


}

@media(max-width:445px){

    .container-contato{
        display:flex;
        flex-direction:column;
        margin-top: 100px;
    }

    .contato-box{
        flex-direction: column;
    }

    .texto-contato{
        text-align: center;
        margin:10px 0;
    }

    .contato-social-media{
        margin: 20px;
        display: flex;
        justify-content: center;
    }

    
    .contato-box form{
        height:415px;
        width: 250px;
        
    }

    form .input{
        height: 100px;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--font-color);
    }

    form textarea{
        font-size:14px;
    } 
}

