body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    scroll-behavior: smooth;
    color: var(--branco);
    line-height: 1.7em;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h1,h2,h3,h4{
    font-weight: 500;
}


.container-principal{
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.conteudo-escrito{
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}


.conteudo-escrito h1{
    letter-spacing: -0.03em;
    font-weight: 600;
    color: var(--branco);
    margin: 10px 0 20px;
    font-size: 3rem;
    display: inline-block;
}

.conteudo-escrito h1::after{
    content:'|';
    margin-left: 2px;
    font-size: 50px;
    font-weight: 500;
    opacity: 1;
    animation: pisca .9s infinite;
}


.conteudo-escrito h2{
    font-size:1.3rem;
    padding-bottom: 10px;
    color: var(--verdeClaro);
}


.conteudo-escrito p{
    font-size: 1rem;
    padding: 10px 0;
    letter-spacing: 0.030em;
    color:var(--font-color);
}


.conteudo-escrito strong{
    color: #fff;
}








@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}
    
